body {
	background-color: #42423e;
}

.border-radius {
	border-radius: 25px 0px;
}

.color-users-title {
	color: #f7f5fa;
	text-decoration: underline;
}

.list-user-card {
	cursor: pointer;
}

.list-user-card:hover {
	background-color: #dbdadd;
}

.input-wrap {
	width: 100%;
	position: relative;
	display: flex;
}

.chat-container-height {
	height: 490px;
}
